html, body {
    height: 100%;
    margin: 0; /* Remove as margens padrão do corpo e da página */
    overflow: hidden; /* Remove barras de rolagem padrão */
    border: 0;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}


